<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Authentication.SignIn"
            android:exported="false"
            />
        <activity
            android:name=".OnBoarding"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.SignUpMain"
            android:exported="false"
            android:label="Sign up"
            android:parentActivityName=".OnBoarding" />
        <activity
            android:name=".Authentication.SignUpFull"
            android:exported="false"
            android:label="Sign up"
            android:parentActivityName=".OnBoarding" />
        <activity
            android:name=".Authentication.EnterNewPassword"
            android:exported="false"
            android:label="Enter new password"
            android:parentActivityName=".OnBoarding" />
        <activity
            android:name=".Authentication.ResetPassword"
            android:exported="false"
            android:label="Forgot password"
            android:parentActivityName=".OnBoarding" />
        <activity
            android:name=".Authentication.VerifyOTP"
            android:exported="false"
            android:label="Verify OTP"
            android:parentActivityName=".OnBoarding" />
        <activity
            android:name=".PostView.PostActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:label="Posts" />
    </application>

</manifest>